Repository dpkrane/pet-docker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_nginx, build_backend, build_frontend

.gitlab-ci.yml:

include:
  - project: dpkrane-includes/gitlab-ci
    file: build-docker.yml
    ref: v.0.0.2
  - project: dpkrane-includes/gitlab-ci
    file: depoy-compose.yml

stages:
  - build

build_nginx:
  extends: .build-image
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
      changes:
        - nginx/*
      when: always

build_backend:
  extends: .build-image
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
      changes:
        - backend/*
      when: always


build_frontend:
  extends: .build-image
  rules:
  - if: '$CI_PIPELINE_SOURCE == "push"'
    changes:
      - frontend/*
    when: always

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

tst
  docker-compose.yml
Due: none

Deploy added
  .gitlab-ci.yml
Due: none

Frontend fix network interaction
  frontend/src/components/Student.js
Due: none

Frontend fix network interaction
  docker-compose.yml
  frontend/src/components/Student.js
  nginx/nginx.conf
Due: build_nginx

Nginx config edited
  nginx/nginx.conf
Due: build_nginx

Forntend scr edited
  frontend/src/components/Student.js
Due: none

Update Dockerfile
  frontend/Dockerfile
Due: build_frontend

Update README.md
  frontend/README.md
Due: build_frontend

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Docker-compose.yaml optimized
  docker-compose.yml
  nginx/nginx.conf
Due: build_nginx

Docker-compose.yaml optimized
  .gitlab-ci.yml
  docker-compose.yml
Due: none

Hotfix
  docker-compose.yml
Due: none

Hotfix
  nginx/Dockerfile
Due: build_nginx

README.md updated
  README.md
Due: none
